body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    background-color: #D2CA8A;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #D2CA8A;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #D2CA8A;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b8b068;
}

.output {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.instructions {
    margin-bottom: 15px; /* Adjust the value as needed */
}
.cart-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cart-container h2 {
    margin-bottom: 15px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #D2CA8A;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #EEE;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #D2CA8A;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #b8b068;
}

header a img {
    height: 54px; /* height of the logo */
    width: 83px; /* width of the logo */
    margin-left: 20px; /* adjust as needed for spacing */
}

header h1 {
    margin-left: 20px; /* Add spacing between the logo and the title */
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed; /* Keeps the logo at the bottom of the page */
    bottom: 0; /* Aligns it to the very bottom */
    padding: 10px 0; /* Padding above and below the logo */
}

.footer-logo a img {
    height: 54px; /* Logo height */
    width: 83px; /* Logo width */
}
